<!--
/**
 * @copyright: Copyright © 2019 Firebear Studio. All rights reserved.
 * @author   : Firebear Studio <fbeardev@gmail.com>
 */
-->
<!-- ko if: visible -->
<div class="admin__field field-notice">
    <button type="button" class="primary"
            css="buttonClasses"
            click="action"
            disable="disabled"
            attr="'data-index': index">
    <span text="title">
    </span>
    </button>
</div>
<div class="admin__field field-notice">
    <p>1. Click "Load Map Attributes" button to map attributes automatically.</p>
    <p>2. Fill missing value for RED dropdown. This problem occurs when your CSV file uses custom column names for
        required columns.</p>
</div>
<!-- /ko -->