<?xml version="1.0"?>
<!--
/**
 * @copyright: Copyright © 2019 Firebear Studio. All rights reserved.
 * @author   : Firebear Studio <fbeardev@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Firebear_ImportExportCypress" setup_version="1.0.0">
        <sequence>
            <module name="Firebear_ImportExport"/>
        </sequence>
    </module>
</config>
